astroid==2.4.2
boto3==1.14.48
botocore==1.17.48
docutils==0.15.2
isort==5.4.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.1
pandas==1.1.1
psycopg2-binary==2.8.5
py4j==0.10.9
pylint==2.6.0
pyspark==3.0.0
pyspark-stubs==3.0.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
s3transfer==0.3.3
six==1.15.0
SQLAlchemy==1.3.19
toml==0.10.1
urllib3==1.25.10
wrapt==1.12.1
